__pycache__/
*.pyc
*.pyo
*.pyd
*.env
# Default ignored files
/shelf/
.DS_Store
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
*.xml
*.ids
.idea/inspectionProfiles/
*.xml