/* Reset styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Header styles */
header {
    display: flex;
    background-color: #fff;
    padding: 10px;
    color: #333333;
}

header h1 {
    font-size: 20px;
    color:#333
}


/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

/* Collage styles */
.collage {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0;
}

.collage img {
    align-items: center;
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin: 0;
    border: none;
}

/* Buttons styles */
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px
}

.buttons button {
    margin: 0 5px;
    padding: 5px 15px;
    background-color: #fff;
    color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.buttons button:hover {
    background-color: #fff;
    color:#00cc66;
}

.logout-btn {
    position:absolute;
    top:10px;
    right:20px;
    padding: 2px 0px;
    background-color: #fff;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100px;
    font-size: 12px
}

.logout-btn:hover {
    background-color: #fff;
    color:#00cc66;
}


/* Mobile-specific styles */
@media screen and (max-width: 600px) {
    .container {
        max-width: 800px;
        margin: 0;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    header{
        display:flex;
        margin-bottom: 0;
    }

    h1 {
        font-size: 14px;
    }

    header h1 {
        flex-basis: 0;
        flex-grow: 1;
        font-size: 12px;
        margin: 0;
    }

    header p {
        margin: 0;
    }


    .logo-small {
        width: 20px;
    }

    .collage img {
        align-items: center;
        width: 20%;
        height: auto;
        object-fit: cover;
        margin: 0;
        border: none;
    }


    .buttons button {
        font-size: 10px;
        margin: 3px;
        padding: 3px 10px;
        background-color: #fff;
        color: #333333;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .logout-btn {
        position:absolute;
        font-size:10px;
        border-radius: 3px;
    }
}