/* index.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #6c757d;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #00cc66;
}
.logo {
    width: 100px; /* Adjust the width and height to fit your logo */
    height: auto;
    margin-right: 10px;
}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 25px; /* Reduce font size for smaller screens */
        margin-top: 30px;
    }

    p {
        font-size: 14px; /* Reduce font size for smaller screens */
        margin-left: 10px;
         margin-right: 10px;
    }

    a {
        margin-top: 70px; /* Adjust margin for smaller screens */
        padding: 4px 10px; /* Adjust padding for smaller screens */
        font-size: 12px;
    }

    .logo {
        width: 135px; /* Adjust logo size for smaller screens */
        margin-top: 65px;
    }
}