/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #6c757d;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #00cc66;
}
.logo {
    width: 100px; /* Adjust the width and height to fit your logo */
    height: auto;
    margin-right: 10px;
}
