<!DOCTYPE html>
<html>
<head>
    <title>Collage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='collage_styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-small">
        <h1>soundCollage</h1>
    </header>


    <div class="container">
        <div class="buttons">
            <button id="short_Term">Short Term</button>
            <button id="mid_Term">Medium Term</button>
            <button id="long_Term">Long Term</button>
            <button id="dwnld-btn">Download </button>
        </div>
        <div class="collage" id = "collage">
            {% for image in album_images %}
                <img src="{{ image }}" alt="Album Image">
            {% endfor %}
        </div>

        </div>
    </div>

    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="{{ url_for('static', filename='collage_script.js') }}"></script>
</body>
</html>
