<!DOCTYPE html>
<html>
<head>
    <title>Collage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='collage_styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>soundCollage</h1>
        <a href="{{ url_for('logout') }}" class="logout-btn">logout</a>
    </header>


    <div class="container">
        <div class="buttons">
            <button id="short_Term">recently</button>
            <button id="mid_Term">a bit back</button>
            <button id="long_Term">ancient</button>

        </div>
        <div class="collage" id = "collageContainer">
            {% for image in album_images %}
                <img src="{{ image }}" alt="Album Image">
            {% endfor %}
        </div>

        </div>
    </div>


    <script src="{{ url_for('static', filename='collage_script.js') }}"></script>
</body>
</html>
