<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('collage') }}">Collage</a>
    </div>
    <div class="container">
        <div class="profile-header">
            <h1>Hello, {{ display_name }}!</h1>

        </div>
        <div class="profile-data">
            <h2>Profile Information</h2>
            <p> <span class="email">{{ email }}</span></p>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

    <div class="container">
        <div class="profile-data">
    <h2>Top 3 Tracks</h2>
        </div>
        <div class="profile-data">
    <button id= "short_Term">Short Term </button>
    <button id= "mid_Term">Medium Term </button>
    <button id= "long_Term">Long Term </button>
        </div>
        <div class="profile-data">
    <ul>
        {% for track in top_tracks %}
            <li>{{ track.name }} by {{ track.artists[0].name }}</li>
            <img src ="{{track.album.images[0].url}}"alt="Album Image" width="150">

        {% endfor %}
    </ul>
        </div>
        </div>







    <script>
    document.getElementById('short_Term').addEventListener('click', function() {
        window.location.href = '/profile?time_range=short_term';
    });

    document.getElementById('mid_Term').addEventListener('click', function() {
        window.location.href = '/profile?time_range=medium_term';
    });

    document.getElementById('long_Term').addEventListener('click', function() {
        window.location.href = '/profile?time_range=long_term';
    });
</script>


</body>
</html>

